@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
main{
    background-color: rgba(255, 255, 255, 0.726);
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #091540a1;
}
h1{
    color: #091540;
}
h2{
    color: #0A3A40;
}
body{
    background-image: linear-gradient(to right, #042940 ,#3D518C ,#ABD2FA);
}
p{
    text-align: justify;
}
